<% if message.chatter == "vegan" %>

  <div class="chat-section-field axiforma">
    <div class="row">
        <div class="col-11 d-flex align-items-end">
          <%= image_tag "portrait_veganer.png", class: "rounded-circle border-white white-border-for-rounded-circle bg-white mr-3", width: "50" %>

          <div class="chat-argument-field <%= dom_id(message) %>">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <%#= raw sanitizing(message.content) unless message.blank? %>
            <% if is_current_user_admin? %>
              <div class="text-center m-2">
                <hr />
                <%= link_to 'Eintrag bearbeiten', edit_message_path(message), class: "btn btn-primary m-2" %>
                <%= link_to 'Eintrag löschen', message_path(message), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
                <%= link_to 'Neuer Eintrag', new_message_path, class: "btn btn-light m-2" %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>

<% else %>

<div class="chat-section-field axiforma">
  <div class="row">

      <div class="offset-1 col-11 d-flex align-items-end justify-content-end">
          <div class="chat-option-field chat-argument-field <%= dom_id(message) %>">
              <%= raw sanitizing(message.content) unless message.content.blank? %>
              <% if is_current_user_admin? %>
                <div class="text-center m-2 rounded border">
                  <hr />
                  <%= link_to 'Eintrag bearbeiten', edit_message_path(message), class: "btn btn-primary m-2" %>
                  <%= link_to 'Eintrag löschen', message_path(message), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
                  <%= link_to 'Neuer Eintrag', new_message_path, class: "btn btn-light m-2" %>
                </div>
              <% end %>
          </div>
        <%= image_tag "portrait-icon-6.png", class: "rounded-circle border-white white-border-for-rounded-circle bg-white ml-3 p-1", width: "50" %>
      </div>
  </div>
</div>
<% end %>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".collapse-<%= dom_id(message) %>" aria-expanded="false" aria-controls="collapse-<%= dom_id(message) %>">Kommentieren</button>

<div class="collapse multi-collapse collapse-<%= dom_id(message) %>" id="">
  <div class="card card-body">
    <%= render 'comments/comments', parent: message %>
    <%= render 'comments/form', parent: message %>
  </div>
</div>


<script>
  var message_content = "<%= raw sanitizing(message.content) unless message.blank? %>";
  var id_of_message = ".<%= dom_id(message) %>";
  var chatter = "<%= @message.chatter %>";

  $( document ).ready(function() {

    if (chatter === "vegan"){
      setTimeout(function(){
        VEGANCHAT.animateCSS(id_of_message, 'fadeIn');
         $( id_of_message ).html( message_content );
       }, 1200);
    }

  });
</script>
