<% # rails g erb:scaffold Message title:string description:text content:text %>

<%# url_cover = message.cover.attached? ? rails_blob_url(message.cover) : image_url("pigs.jpg") %>
<%# height_of_cover = message.cover.attached? ? ActiveStorage::Analyzer::ImageAnalyzer.new(message.cover).metadata[:height] : 500 %>


  <section class="page-cover-bg bg b-color" style="">
      <div class="container d-flex align-items-start justify-content-center h-100 pt-2">

          <%#= image_tag("logo_stinah_ws_vektor.png", class: "img-fluid mb-4 rounded overlay-darker", style: "height: 180px;") %>

      </div>
  </section>



<div class="container pt-3">



  <h3 class="text-h-color spaced-letters font-weight-light text-uppercase"><%= message.name %></h3>
  <p class="font-weight-bold text-muted pt-3">
    <%#= message.description %>
  </p>
  <p>
  <%= simple_format(message.content) %>
  </p>
  <p>
    <%= message.chatter %>
  </p>
  <p>
    <%= message.category %>
  </p>
  <p>
    <%= message.target_message_id %>
  </p>
  <p>
    Parent: <%= link_to message.parent.name, message_path(message.parent) if message.has_parent? %>
    </p>
  <p>
    Children: <%= message.children.count %><br />
    <% message.children.each do |child| %>
      <%= link_to child.name, message_path(child) %> <br />
    <% end %>
  </p>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_message_path(message), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', message_path(message), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
</div>
