<div class="card b-color">
  <div class="row no-gutters">
    <div class="col-md-8">
      <% if slide.cover.attached? %>
        <%= image_tag slide.cover, class: "card-img" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-text">
          <%= l(slide.created_at, format: "%d.%m.%Y") %> <span class="badge e-color rounded-0 text-white">MITTEILUNGEN</span>
        </p>
        <h5 class="card-title spaced-letters"><%= slide.title.upcase %></h5>
        <p class="card-text"><%= slide.content.truncate(150) %></p>
        <p>
          <%= link_to slide_path(slide) do %>
            <button type="button" class="btn btn-e-color btn-sm spaced-letters text-nowrap rounded-0">MEHR ERFAHREN <%= fa_icon "chevron-right", class: "ml-2" %></button>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
