<div class="debate-argument">
  <%= raw sanitizing(slide.content) %>
</div>
<% if is_current_user_admin? %>
  <div class="text-center m-2 rounded border">
    <hr />
    <%= link_to 'Eintrag bearbeiten', edit_slide_path(slide), class: "btn btn-primary m-2" %>
    <%= link_to 'Eintrag löschen', slide_path(slide), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    <%= link_to 'Neuer Eintrag', new_slide_path, class: "btn btn-light m-2" %>
    <%= render 'options/form', option: Option.new, slide: slide %>
  </div>
<% end %>

<% options = slide.options.published %>

<div class="debate-answer-options">
  <% options.where.not(id: @account.options.pluck(:id)).each do |option| %>
    <%= link_to option.content, debate_a_vegan_load_slide_path(option), remote: true, method: :post, class: "debate-button" %>
    <% if is_current_user_admin? %>
      <%= link_to 'Eintrag bearbeiten', edit_option_path(option), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', option_path(option), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    <% end %>
  <% end %>

<% if slide.show_suggestion == "yes" %>
    <hr />
  <p>
    <button class="debate-button-dark" type="button" data-toggle="collapse" data-target="#suggest-option" aria-expanded="false" aria-controls="collapseExample">
      Ich möchte was anderes sagen
    </button>
    <div class="collapse" id="suggest-option">
      <div class="card card-body">
          <%= render 'options/form_for_suggesters', option: Option.new, slide: slide %>
      </div>
    </div>
  </p>
<% end %>

<% used_options = options.where(id: @account.options.pluck(:id) ) %>
<% unless used_options.empty? %>
  <hr />
<% end %>

<% used_options.each do |option| %>
  <%= link_to option.content, debate_a_vegan_load_slide_path(option), remote: true, method: :post, class: "debate-button-already-visited" %>
  <% if is_current_user_admin? %>
    <%= link_to 'Eintrag bearbeiten', edit_option_path(option), class: "btn btn-primary m-2" %>
    <%= link_to 'Eintrag löschen', option_path(option), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
  <% end %>
<% end %>


    <%#= link_to "Ich möchte an dieser Stelle etwas anderes sagen", debate_a_vegan_path, remote: true, method: :post, class: "debate-button-dark" %>

</div>

<hr />
<div class="text-center">
  <% if @account.account_slides.count >= 2 %>
    <%= link_to debate_a_vegan_go_one_slide_back_path, remote: true, method: :post, class: "ml-1 btn btn-secondary" do %>
      <%= fa_icon "chevron-left", class: "" %> <%= fa_icon "chevron-left", class: "" %>
    <% end %>
  <% end %>

  <button type="button" class="ml-1 btn btn-info" data-toggle="modal" data-target="#statusModal">
    <%= fa_icon "bars" %>
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Argumentiere mit einem Veganer!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to "Neu anfangen", debate_a_vegan_reset_debate_path, method: :get, class: "debate-button" %>
        <%= link_to "Um was geht es hier?", root_path, class: "debate-button" %>
        <%= mail_to "s.raess@me.com", "Ich möchte mit dir sprechen", class: "debate-button-success" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
