<% slide = option.slide || slide %>
<%= simple_form_for(option) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :target_slide, as: :select, collection: Slide.all, label: "Target-Slide", label_method: :name, value_method: :id, input_html: {class: 'chosen-select', :data => {:placeholder => "Slide auswählen"}, multiple: false} %>
    <%#= f.input :slide_id %>
    <%= f.input :slide_id, as: :select, collection: Slide.all, label: "Slide", label_method: :name, value_method: :id, selected: slide.id, input_html: {class: 'chosen-select', :data => {:placeholder => "Slide auswählen"}, multiple: false} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $( document ).ready(function() {
    $(".chosen-select").chosen({width: "100%"});
  });
</script>
