<div class="container-fluid a-color d-none d-md-block" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= image_url("man-holding-horse-face.jpg") %>'); background-position: center; height: 600px;">
  <div class="row justify-content-center">
    <div class="col-md-4 offset-md-6 col-sm-6 offset-sm-4 mt-5">
        <h2 class="text-white spaced-letters"><strong><%= "Patenschaft".upcase %></strong></h2>
        <br />
        <p class="lead">
          <strong>
            Mit einer Patenschaft helfen Sie, einzelnen Tieren Zuflucht zu bieten
            und ihnen ein gesichertes Dasein zu gewährleisten.
          </strong>
        </p>
        <br />
        <p>
          Ermöglichen Sie mit diesem tierschützerischen Beitrag einem Mitlebewesen ein artgerechtes Leben.
          Ein solches Tier übernimmt immer auch die Funktion einer Botschafterin / eines Botschafters und vermittelt den Wert des Wesens an sich.
        </p>
        <p class="mt-5">
          <%= link_to root_path do %>
            <button type="button" class="btn btn-c-color spaced-letters text-nowrap rounded-0"><%= "Jetzt Patin / Pate werden".upcase %> <%= fa_icon "chevron-right", class: "ml-2" %></button>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid a-color d-block d-md-none p-4">
    <h2 class="text-white spaced-letters"><strong><%= "Patenschaft".upcase %></strong></h2>
    <br />
    <p class="lead">
      <strong>
        Mit einer Patenschaft helfen Sie, einzelnen Tieren Zuflucht zu bieten
        und ihnen ein gesichertes Dasein zu gewährleisten.
      </strong>
    </p>
    <br />
    <p>
      Ermöglichen Sie mit diesem tierschützerischen Beitrag einem Mitlebewesen ein artgerechtes Leben.
      Ein solches Tier übernimmt immer auch die Funktion einer Botschafterin / eines Botschafters und vermittelt den Wert des Wesens an sich.
    </p>
    <p class="mt-5">
      <%= link_to root_path do %>
        <button type="button" class="btn btn-c-color spaced-letters text-nowrap rounded-0"><%= "Jetzt Patin / Pate werden".upcase %> <%= fa_icon "chevron-right", class: "ml-2" %></button>
      <% end %>
    </p>
  </div>

<div class="container-fluid a-color d-block d-md-none" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= image_url("man-holding-horse-face.jpg") %>'); background-position: center; height: 600px;">

</div>
