<div class="card p-3 border-d-color rounded-0 mb-3">
  <h5 class="card-title text-d-color spaced-letters"><%= fa_icon "calendar", class: "mr-2" %> <strong><%= l(event.start_of_date, format: "%d.%m.%y") %></strong></h5>
  <h5 class="card-title text-d-color spaced-letters"><strong><%= event.title.upcase %></strong></h5>
  <p class="card-text"><%= event.description %></p>
  <p>
    <%= link_to event_path(event) do %>
      <button type="button" class="btn btn-d-color btn-sm spaced-letters text-nowrap rounded-0">MEHR ERFAHREN <%= fa_icon "chevron-right", class: "ml-2" %></button>
    <% end %>
  </p>
</div>
