
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :cover %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :hyperlink %>
    <%= f.input :start_of_date %>
    <%= f.input :end_of_date %>
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= tinymce_assets %>
 <%= tinymce %>
