<% # rails g erb:scaffold Event title:string description:text content:text %>

<% url_cover = event.cover.attached? ? rails_blob_url(event.cover) : image_url("pigs.jpg") %>
<% height_of_cover = event.cover.attached? ? ActiveStorage::Analyzer::ImageAnalyzer.new(event.cover).metadata[:height] : 500 %>


<section class="page-cover-bg bg b-color" style="background-image: url('<%= url_cover %>'); height: <%= height_of_cover %>px;">
    <div class="container d-flex align-items-start justify-content-center h-100 pt-2">

        <%#= image_tag("logo_stinah_ws_vektor.png", class: "img-fluid mb-4 rounded overlay-darker", style: "height: 180px;") %>

    </div>
</section>



<div class="container pt-3 mt-3">

  <h3 class="text-h-color spaced-letters font-weight-light text-uppercase"><%= event.title %></h3>
  <p>
      <b>Von: </b><%= event.start_of_date.strftime("%d.%m.%Y - %H:%M") %><br />
        <b>Bis: </b><%= event.end_of_date.strftime("%d.%m.%Y - %H:%M") %>
  </p>
  <p class="font-weight-bold text-muted pt-3">
    <%= event.description %>
  </p>
  <p>
  <%= simple_format(event.content) %>
  </p>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_event_path(event), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', event_path(event), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
</div>
