<% # rails g erb:scaffold Post title:string description:text content:text %>

<% url_cover = post.cover.attached? ? rails_blob_url(post.cover) : image_url("pigs.jpg") %>
<% height_of_cover = post.cover.attached? ? ActiveStorage::Analyzer::ImageAnalyzer.new(post.cover).metadata[:height] : 500 %>


  <section class="page-cover-bg bg b-color" style="background-image: url('<%= url_cover %>'); height: <%= height_of_cover %>px;">
      <div class="container d-flex align-items-start justify-content-center h-100 pt-2">

          <%#= image_tag("logo_stinah_ws_vektor.png", class: "img-fluid mb-4 rounded overlay-darker", style: "height: 180px;") %>

      </div>
  </section>



<div class="container pt-3">
  <h3 class="text-h-color spaced-letters font-weight-light text-uppercase"><%= post.title %></h3>
  <p class="card-text text-dark">
    <%= l(post.created_at, format: "%d.%m.%Y") %>
    <span class="badge e-color rounded-0 text-white">
      <% if post.tags.empty? %>
        <%= "Mitteilungen".upcase %>
      <% else %>
          <%= post.tags.first.title.upcase %>
      <% end %>
    </span>
  </p>
  <% unless post.author.blank? %>
  <p class="text-muted">- von <%= post.author %></p>
  <% end %>
  <p class="font-weight-bold text-muted">
    <%= post.description %>
  </p>
  <p>
    <div style="font-size: large;">
      <%= raw sanitizing(post.content) %>
    </div>
  </p>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_post_path(post), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', post_path(post), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
</div>
