<div class="container pt-3">
  <h1 class="text-h-color spaced-letters font-weight-light"><%= post.title.upcase %></h1>
  <p class="">

    <%= post.description %>

  </p>
  <p>
  <%= simple_format(post.content) %>
  </p>
</div>


<div class="card my-3 b-color rounded-0">
<div class="card-body b-color">
  <h3 class="card-title"><%= post.title %></h3>
    <div class="text-justify">
      <p class="card-text"><%= post.content %></p>
  </div>
    
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_post_path(post), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', post_path(post), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>

</div>
