<div class="float-right small-text"><small><%= day.strftime("%-d") %></small></div>
<br>
<%# events = events.where(start_of_date: day)%>
<% events = events.between(day.beginning_of_day, day.end_of_day)%>
<% events.each do |event| %>

    <div class="border border-info rounded text-white bg-info w-100 p-1 trigger-hover-div-for-event mb-1" data-event-id="<%= event.id %>">
      <%= link_to event.title, event_path(event), class: "text-white" %>

      <div id="hover-div-for-event-<%= event.id %>" class="border border-white bg-info rounded text-white  p-2" style="display:none; position: absolute;">
        <strong><%= link_to event.title, event_path(event), class: "text-white" %></strong>
        <hr class="bg-light" />

          <strong>
            <%= event.location %><br />
            <%= event.start_of_date.strftime("%H:%M") %> - <%= event.end_of_date.strftime("%H:%M") %><br />
          </strong>
        <hr class="bg-light" />
        <%= event.description %>
        <hr class="bg-light" />
        <%= link_to event.hyperlink, event.hyperlink, target: "_blank", class: "text-white" %>
      </div>
    </div>


<% end %>

<script>
    $(document).ready(function(){
      $(".trigger-hover-div-for-event").hover(function(event) {
          var event_id = $(this).data( "event-id" );
          var hover_div = "#hover-div-for-event-" + event_id
          //console.log("hover");
          $(hover_div).css({top: event.clientY, left: event.clientX}).show();
      }, function() {
          var event_id = $(this).data( "event-id" );
          var hover_div = "#hover-div-for-event-" + event_id
          $(hover_div).hide();
      });
    });
</script>
