<% works = @works.where(date: @date) %>
<% users = Work.get_users(works) %>

<div class="container-fluid">
  <div class="jumbotron bg-white">
    <div class="text-center m-2">
      <%=  link_to "Monats-Ansicht", work_calendar_path(@date) %>
    </div>
    <div class="text-center m-2">
      <%= link_to work_day_calendar_path(@date - 1.day) do %>
        <div class="btn btn-primary">
          &#8249; &#8249;
        </div>
      <% end %>
      <span class="mx-3">
        <b><%= @date.strftime("%d-%m-%Y") %></b>
      </span>
      <%= link_to work_day_calendar_path(@date + 1.day) do %>
        <div class="btn btn-primary">
          &#8250; &#8250;
        </div>
      <% end %>
    </div>
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Uhr</th>
        <% users.each do |user| %>
          <th class="text-center"><%= user.username %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (6..18).each do |i| %>
      <tr>
        <td class="text-center"><%= i %></td>
        <% users.each do |user| %>
        <% work = works.where(user_id: user.id).first %>
        <% shift_start = work.shift_start.strftime('%H').to_i %>
        <% shift_end = work.shift_end.strftime('%H').to_i %>
          <% if shift_start == i %>
            <td class="table-primary text-center" rowspan="<%= (shift_start..shift_end).size %>">
              <strong><%= work.user.username %></strong>
              <br />
              Von <%= work.shift_start.strftime("%H:%M") %> bis <%= work.shift_end.strftime("%H:%M") %>
              <br />
              <% unless work.comment.blank? %>
                <p class="border-top">
                  <small>
                    <%= work.comment %>
                  </small>
                </p>
              <% end %>
              <% if !work.food.blank? && !work.user.roles.where(role: "external_professional").exists? %>
                <p class="border-top">
                  <small>
                    <%= work.food %>
                  </small>
                </p>
              <% end %>
            </td>
          <% elsif i.between?(shift_start,shift_end) %>

          <% else %>
            <td></td>
          <% end %>

        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
