<footer class="footer a-color">
  <div class="container-fluid a-color">
    <div class="row">
      <div class="col-sm-12 col-md-4 pt-5">
        <p class="spaced-letters">
          <strong><%= "Kontakt".upcase %></strong>
        </p>
        <p class="text-white border-right">
          <b>Kennsch Ethik?</b><br />
          Sandro Räss <br />
          <u><%= mail_to "s.raess@me.com", "s.raess@me.com", class: "text-white text-underline" %></u><br />
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="spaced-letters pt-5">
          <strong><%= "Newsletter".upcase %></strong>
        </p>
        <div id="new_newsletter" class="text-white">
          <%= simple_form_for(Newsletter.new, url: add_newsletter_to_list_path, method: :post, remote: true) do |f| %>
            <div class="input-group mb-3 rounded-0">
              <%= f.text_field :email, placeholder: "e-Mail-Adresse", class: "form-control rounded-0" %>
              <div class="input-group-append">
                <%= f.submit "anmelden", class: "btn btn-c-color rounded-0" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>


      <div class="col-sm-12 col-md-4">
        <p class="spaced-letters pt-5">
          <strong><%= "Meta".upcase %></strong>
        </p>
        <p class="text-white">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "text-white" %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: "text-white" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</footer>
