<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand text-h-color" do %>
      Kennsch Ethik?
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Blog", posts_path, class:"nav-link"  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortalLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortalLink">
          <% Page.all.each do |page| %>
              <%= link_to page.title, page_path(page), class:"dropdown-item" %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Argumentiere mit mir!", vegan_chat_path, class:"nav-link"  %>
      </li>
      <% if is_current_user_admin? %>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class:"nav-link"  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
