<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEventLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Events
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownEventLink">
    <%= link_to 'Kalender', event_calendar_path, class:"dropdown-item" %>
    <%= link_to 'Aktionslandkarte', action_map_path, class:"dropdown-item" %>
    <%= link_to 'Event-Liste', event_list_path, class:"dropdown-item" %>
    <%= link_to 'Event vorschlagen', new_event_for_non_users_path, class:"dropdown-item" %>
  </div>
</li>


<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlogLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Blog
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownBlogLink">
    <%= link_to "Alle", posts_path, class:"dropdown-item"  %>
    <% Tag.tags.each do |tag| %>
      <%= link_to tag, posts_path(tag: tag), class:"dropdown-item" %>
    <% end %>
  </div>
</li>
