<% # rails g erb:scaffold Account title:string description:text content:text %>

<% url_cover = account.cover.attached? ? rails_blob_url(account.cover) : image_url("pigs.jpg") %>
<% height_of_cover = account.cover.attached? ? ActiveStorage::Analyzer::ImageAnalyzer.new(account.cover).metadata[:height] : 500 %>


  <section class="page-cover-bg bg b-color" style="background-image: url('<%= url_cover %>'); height: <%= height_of_cover %>px;">
      <div class="container d-flex align-items-start justify-content-center h-100 pt-2">

          <%#= image_tag("logo_stinah_ws_vektor.png", class: "img-fluid mb-4 rounded overlay-darker", style: "height: 180px;") %>

      </div>
  </section>



<div class="container pt-3">

  

  <h3 class="text-h-color spaced-letters font-weight-light text-uppercase"><%= account.title %></h3>
  <p class="font-weight-bold text-muted pt-3">
    <%= account.description %>
  </p>
  <p>
  <%= simple_format(account.content) %>
  </p>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_account_path(account), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', account_path(account), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
</div>
